.logueo{
    background-color: rgba(58, 57, 57, 0.397);
    width: 100%;
    max-width: 550px;
    padding: 20px;
    margin: 8px auto;
    border-radius: 10px;
}

.logueo__subtitle{
    font-size: 2.8rem;
    text-align: center;
    margin: 10px 0;
}

.form{
    display: grid;
    gap: 20px;
}

.form__group{
    display: flex;
    flex-direction: column;
}

.form__group label{
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.logueo .form__group .input,
.logueo .form button,
.logueo__btn{
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin:10px 0;
    font-size: 1.5rem;
}

.logueo .form__group .input{
    margin: 0;
}

.form button{
    background-color: #343a40;
    cursor: pointer;
    color: #fff;
}

.logueo__btn{
    width: 100%;
    margin-top: 10px;
    background-color: #FF6A88;
    cursor: pointer;
    color: #fff;
}

.logueo__error{
    font-size: 1.4rem;
    opacity: 0;
    overflow: hidden;
}

.activeError{
    color: #f83b3b;
    opacity: 1;
    overflow: visible;
}