.content-img-home{
    position: relative;
    min-height: calc(100vh - 95px);
    padding:0 20px;
}

.content-img-home::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #0000006e 0%, #0000006c 100% ), url('../../assets/00.avif');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.subtitle-home{
    font-size: 3rem;
    font-weight: 300;
    padding-top: 15px;
}

.title-home{
    font-size: 4.3rem;
    margin-top: 20px;
}

.paragraph-home{
    font-size: 2rem;
    color: #ffffffab;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.btn-home{
    color: #fff;
    background-color: #FF6A88;
    outline: none;
    border: 1px solid #e0e0e06c;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 25px;
    cursor: pointer;
}

.subtitle {
    font-size: 4.3em;
    line-height: 1.1; 
    text-align: center;
    margin: 50px 0 30px;
  }

  
  .hero__wave {
      position: absolute;
      width: 102%;
      height: 95px;
      left: -1%;
      bottom: -10%;
  }


/* contenedor para las cards destacadas */
  .content-items-grid{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 20px;
}


.loading{
    font-size: 3rem;
    color: #fff;
    text-align: center;
} 


.content-oferta{
    background-color: rgb(59, 65, 65);
}


@media (min-width: 750px){
    .title-home{
        font-size: 5rem;
        margin: 30px 0;
    }

    .subtitle-home{
        padding-top: 40px;
    }

    .btn-home{
        margin-top: 30px;
    }

    .hero__wave {
        height: 102px;
        bottom: -4%;
    }
}