.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menu-modal{
    z-index: 1;
    position: fixed;
    background-color: rgba(26, 25, 25, 0.603);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;   
}

.menu-modal.opacity{
    opacity: 1;
    visibility: visible;
}

.menu-links{
    position: fixed;
    list-style: none;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    height: 100vh;
    width: 70%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    left: -100%;
    transition: left .5s; 
}

.menu-links.open{
    left: 0;
}


.link{
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
}


.active{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #FF99AC ;
    padding: 3px 0;
}


.icon{
    font-size: 2.6rem;
    cursor: pointer;
}


.icon-close{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 89%;
}

.nav-logo{
    font-size: 1.8rem;
}

.content-login-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 30px;
}

.sign-out{
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}


@media (min-width: 750px){

    .menu-modal{
        position: inherit;
        height: auto;
        opacity: 1;
        visibility: visible;
        background: none;
        transition: none;
    }

    .menu-links{
        position: inherit;
        height: auto;
        flex-direction: row;
        background: transparent;
        width: auto;
        gap: 60px;
        margin-left: 100px;
    }

    .active{
        border-bottom: 1px solid #FF6A88;
    }

    .icon{
        display: none;
    }

    .nav-logo{
        position: absolute;
        font-size: 2.5rem;
    }
}